<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

<div id="banner">
    
    <div id="wrapper">      
        <h1><%= blogItem.blogTitle %></h1>
        <p><%= blogItem.blogBody%></p>
    </div>
</div>
    
<%- include('./partials/footer.ejs') %>
    
</body>
</html>